<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
       <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400" />
      <!--jquery-->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!--datatables-->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<style>
    * {
       font-family: "Open Sans";
        color:white; }
.modal-popup{
  display:none;
  width:100%;
  height:100%;
  position:fixed;
  left:0;
  top:0;
  background-color:rgb(255,255,255,50%);
 
  z-index:9999;
}
        .loader {
  position: relative;
  text-align: center;
  margin: 300px 650px;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(0, 0, 0, .3);
  border-radius: 50%;
  border-top-color: #000;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}


/** MODAL STYLING **/

.modal-content {
  border-radius: 0px;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.7);
}

.modal-backdrop.show {
  opacity: 0.75;
}

.loader-txt {
  p {
    font-size: 13px;
    color: #666;
    small {
      font-size: 11.5px;
      color: #999;
    }
  }
}

#output {
  padding: 25px 15px;
  background: #222;
  border: 1px solid #222;
  max-width: 350px;
  margin: 35px auto;
  font-family: 'Roboto', sans-serif !important;
  p.subtle {
    color: #555;
    font-style: italic;
    font-family: 'Roboto', sans-serif !important;
  }
  h4 {
    font-weight: 300 !important;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif !important;
  }
  p {
    font-family: 'Roboto', sans-serif !important;
    font-size: 0.9em;
    b {
      text-transform: uppercase;
      text-decoration: underline;
    }
  }
}
 .top-nav {
height:60px;
background-color:#202020  ;
z-index:1;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  padding:10px;
 }


.nav-link {
    float:right;
    color:white;
    padding:3px 30px ;
}
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: -1;
  padding-top: 60px;
padding-left:10px;
  top: 0px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  font-size:1px
}

.sidenav a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  font-size: 10px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.left-nav-open {
    font-size:30px;
    cursor:pointer;
    color:white;
    font-size: 20px;
    margin-left:10px;
  
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

.side-nav-link {
font-size: 18px;
display:inline;

}

.profile-info {
color:white;
text-align: center;
}
.profile {
    margin:20px;
}

.profile-icon {
    font-size:100px;
    text-align: center;
    padding: 10px 20px;
}
.dashboard-content {
    position:absolute;
    padding-top:60px; 
    top:0px;
   
    left:200px;
  min-height:100%;
  width:85.95%;
    border-spacing:50px 20px;
    background-color:#464856;

}
.material-icons {
     position: relative;
  top: 6px;

}

#logo {
  margin-left:35px;
  margin-top:3px;
}
.advertisement {
   
    
}
.image-ads {
    width:100%;
    
    
}
#all-coes, #pending-coes {
    padding-left:  50px;
    padding-top:30px;
   width:90%;
}
.document-info {
     background-color:#FAF9FA;

     background-position: 9px 0px;
     background-repeat: no-repeat;
    
     border-radius: 6px;
     line-height: 18px;
     overflow: hidden;
    padding: 30px 50px;
     margin:40px;
     height:50px;
     width:1000px;
       
        border:solid 2px #606060;
        text-align:center;
}

table {
    padding:50px;
color:white;
  text-align: center;
font-size:12px;
  border-collapse: collapse;
  width: 100%;
  background-color:#202020;
 
}
th {
 
}
td, th {
 
 
  padding: 8px;
   border-bottom: 1px solid #aaaaaa;
}

tr:nth-child(even) {
   
background-color:#a88a05;
}

#loggedInUser{
    font-weight: 700;
}

#loggedInEntity{
    font-weight: 700;
}


</style>
</head>
<body>

<div class="top-nav">
  <img id="logo" src="/images/logo.jpg" height="40px" ></img> 
     <h6 style="cursor:pointer"onclick="logout()" class="nav-link">Logout</h6>  

</div>

<div id="mySidenav" class="sidenav">
<div class="profile">
<i class="material-icons profile-icon">account_circle</i>
<h6 class="profile-info">Logged In As: <br> <br> <div id="loggedInUser"></div> <div id="loggedInEntity"></div></h6> <br>
    
    <hr>
 <div class="sidenav-element"> <a href="licence"><i class="material-icons">time_to_leave</i> <p class="side-nav-link">&nbsp;&nbsp;Licence</p></a>
  </div><hr>
  <div class="sidenav-element"><a href="coe"> <i class="material-icons">bookmarks</i> <p class="side-nav-link">&nbsp;&nbsp;COE</p></a>
  </div><hr>
</div>

 </div>

<div class="dashboard-content">
    <div id="pending-coes">
      
</div>
<div id="all-coes">
      
</div>

    </div>
    <div class="modal-popup " id="loadMe" tabindex="-1">

        <div class="loader"></div>
        <div clas="loader-txt">
         
        </div>
    
</div>  
    <script type="text/javascript">

function logout() {
 localStorage.removeItem('username');
 
                
                      $.ajax({
    method: "POST",
            url: "/logout",

        
        }).done(function (data) {
          console.log("DONE");
          
          window.location.replace("/login");
            }).fail(function (error) {
   console.log(error.responseText)
  })
  }
function approve(coeId){
  

      var modal = document.getElementById('loadMe');
       
     modal.style.backdrop = ('static');
      modal.style.keyboard = ('false');
  modal.style.display = ('block');
    
            $.ajax({
                method: "POST",
                url:  "/"+localStorage.username + "/api/org.nus.carnetwork.VerifyCOE",
            

               data: {
               "$class": "org.nus.carnetwork.VerifyCOE",
                "coeId": coeId,
  "documentStatus": 'VERIFIED',
     "timestamp": new Date(),

                } 
               
				//success: updatePage,
				//error:  error
            }).done(function (msg) {
              alert("COE Verified!");
                  modal.style.display = ('none');
              location.reload();
            }).fail(function (error) {
              
         alert(error.responseJSON.error.message);
            })
}

function reject(coeId){
  
     var modal = document.getElementById('loadMe');
       
     modal.style.backdrop = ('static');
      modal.style.keyboard = ('false');
  modal.style.display = ('block');
      
        
            $.ajax({
                method: "POST",
                url:  "/"+localStorage.username + "/api/org.nus.carnetwork.VerifyCOE",
              

               data: {
               "$class": "org.nus.carnetwork.VerifyCOE",
                "coeId": coeId,
  "documentStatus": 'REJECTED',
     "timestamp": new Date(),

                } 
                
				//success: updatePage,
				//error:  error
            }).done(function (msg) {
                alert("COE Rejected!");
                 modal.style.display = ('none');
               location.reload();
            }).fail(function (error) {
              
          alert(error.responseJSON.error.message);
            })
}

    $(document).ready(function () {
          let currentUser;
   $.ajax({
            url:  "/"+localStorage.username + "/api/system/ping",
            async: false,
            success: (function (data) {
                currentUser = data.participant;
                document.getElementById('loggedInUser').innerHTML = localStorage.username
           
            }),
        })
        let coes = [];
        $.ajax({
            url:  "/"+localStorage.username + "/api/org.nus.carnetwork.COE"
        }).done(function (data) {
            data.forEach(function (coe) {
                coes.push(coe);
            });
                    $('#pending-coes').html(function() {
      
var output = 'All COEs: <hr> <table> <th>COE ID</th>     <th>Owner NRIC</th>   <th>Expiry Date</th>   <th>Status</th>       <th>Approve</th>     <th>Reject</th>   ';

            	for (var i = 0; i < coes.length; i++) {
        if (coes[i].documentStatus == "PENDING")  {
   output +="<tr>"
   output +=" <td>"+coes[i].coeId+"</td>";
   output +=  "<td>"+coes[i].owner.substring(35)+"</td>";
output +="    <td>"+coes[i].expiryDate.substring(0,10)+"</td>";

  output +=  "<td>"+coes[i].documentStatus+"</td>";

  
    output +=   "<td><button type=\"button\" onclick=\"approve(\'"+coes[i].coeId+"\')\" style=\"color:black\">Approve </button></td>";
    output +=   "<td><button onclick=\"reject(\'"+coes[i].coeId+"\')\"style=\"color:black\">Reject </button></td>";
output +='</tr>';
              }
              }
              output += "</table>";
              return output;
                    })
              $('#all-coes').html(function() {
      
var output = 'All COEs: <hr> <table> <th>COE ID</th>     <th>Owner NRIC</th>   <th>Expiry Date</th>   <th>Status</th>       <th>Approve</th>     <th>Reject</th>   ';

            	for (var i = 0; i < coes.length; i++) {
        if (coes[i].documentStatus != "PENDING")  {
   output +="<tr>"
   output +=" <td>"+coes[i].coeId+"</td>";
   output +=  "<td>"+coes[i].owner.substring(35)+"</td>";
output +="    <td>"+coes[i].expiryDate.substring(0,10)+"</td>";

  output +=  "<td>"+coes[i].documentStatus+"</td>";

  
    output +=   "<td><button type=\"button\" onclick=\"approve(\'"+coes[i].coeId+"\')\" style=\"color:black\">Approve </button></td>";
    output +=   "<td><button onclick=\"reject(\'"+coes[i].coeId+"\')\"style=\"color:black\">Reject </button></td>";
output +='</tr>';
              }
              }
              output += "</table>";
              return output;
                    })
        });


                }
            
        );
  
</script>
    </body>
    </html>